#primary_nav {
  margin-top: 40px;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}

#primary_nav ul {
  list-style-type: none;
}

#primary_nav ul li {
  color: #333;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

#primary_nav ul li:hover {
  background-color: #222;
  color: #fff;
}

#primary_nav a {
  color: #333;
  text-decoration: none;
}

#primary_nav ul li:hover a {
  color: #fff;
}
