

.rss_icon {
  background-color: transparent;
  background-image: url(/images/social_sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -70px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.rss_icon:hover {
  background-position: 0px 0px;
}

.linkedin_icon {
  background-color: transparent;
  background-image: url(/images/social_sprite.png);
  background-repeat: no-repeat;
  background-position: -70px -70px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.linkedin_icon:hover {
  background-position: -70px 0px;
}

.aim_icon {
  background-color: transparent;
  background-image: url(/images/social_sprite.png);
  background-repeat: no-repeat;
  background-position: -140px -70px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.aim_icon:hover {
  background-position: -140px 0px;
}

.skype_icon {
  background-color: transparent;
  background-image: url(/images/social_sprite.png);
  background-repeat: no-repeat;
  background-position: -210px -70px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.skype_icon:hover {
  background-position: -210px 0px;
}

.twitter_icon {
  background-color: transparent;
  background-image: url(/images/social_sprite.png);
  background-repeat: no-repeat;
  background-position: -280px -70px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.twitter_icon:hover {
  background-position: -280px 0px;
}

.yahoo_icon {
  background-color: transparent;
  background-image: url(/images/social_sprite.png);
  background-repeat: no-repeat;
  background-position: -350px -70px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.yahoo_icon:hover {
  background-position: -350px 0px;
}

.vimeo_icon {
  background-color: transparent;
  background-image: url(/images/social_sprite.png);
  background-repeat: no-repeat;
  background-position: -420px -70px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.vimeo_icon:hover {
  background-position: -420px 0px;
}

.vcard_icon {
  background-color: transparent;
  background-image: url(/images/social_sprite.png);
  background-repeat: no-repeat;
  background-position: -490px -70px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.vcard_icon:hover {
  background-position: -490px 0px;
}

.facebook_icon {
  background-color: transparent;
  background-image: url(/images/social_sprite.png);
  background-repeat: no-repeat;
  background-position: -560px -70px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.facebook_icon:hover {
  background-position: -560px 0px;
}

.google_icon {
  background-color: transparent;
  background-image: url(/images/social_sprite.png);
  background-repeat: no-repeat;
  background-position: -630px -70px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.google_icon:hover {
  background-position: -630px 0px;
}
